{{#if this.shouldShow}}
  <ul
    class="custom-header-links
      {{if @outletArgs.topicInfoVisible 'custom-header-links--hide-links'}}"
  >
    {{#each this.links as |link|}}
      <li
        class={{concat-class
          "headerLink"
          link.device
          link.locale
          link.linkClass
          link.hideOnScroll
        }}
      >
        <a
          title={{link.anchorAttributes.title}}
          href={{link.anchorAttributes.href}}
          target={{link.anchorAttributes.target}}
        >
          {{link.linkText}}
        </a>
        
        {{#if link.subLinks}} <!-- Check if subLinks exist for this link -->
          <ul class="submenu">
            {{#each link.subLinks as |subLink|}}
              <li>
                <a href={{subLink.href}} target={{subLink.target}}>{{subLink.text}}</a>
              </li>
            {{/each}}
          </ul>
        {{/if}}

      </li>
    {{/each}}
  </ul>
{{/if}}
