{{#if this.shouldShow}}
  <ul class="custom-header-links">
    {{#each this.links as |link|}}
      <li class="{{link.linkClass}}">
        <a href="{{link.anchorAttributes.href}}" title="{{link.anchorAttributes.title}}" target="{{link.anchorAttributes.target}}">
          {{link.linkText}}
        </a>
        
        <!-- Render the submenu if subLinks are defined -->
        {{#if link.subLinks}}
          <ul class="submenu">
            {{#each link.subLinks as |subLink|}}
              <li>
                <a href="{{subLink.url}}" target="{{subLink.target}}">{{subLink.text}}</a>
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{/if}}
